.newStyle{
    padding: 20px;
    border: 2px solid black;
}

img {
    width: 100%;
    margin-bottom: 20px;
}


h2{
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}

.readMore{
    width: 80%;
    margin-inline: auto;
    padding-block: 20px;
    color: white;
    background-color: black;
}